<body class="bg-white dark:bg-black">
  <div class="body-container">
    <div
      class="form-container"
      style="
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 10px;
      "
    >
      <section class="w-1/2" hlmCard>
        <form [formGroup]="registerForm" class="space-y-6">
          <div hlmCardHeader style="display: flex; align-items: center">
            <h3 hlmCardTitle>{{ "register.title" | translate }}</h3>
            <p hlmCardDescription>{{ "register.description" | translate }}</p>
          </div>
          <div
            hlmCardContent
            style="display: flex; flex-direction: column; gap: 10px"
          >
            <div
              style="display: flex; gap: 10px; justify-content: space-between"
            >
              <hlm-form-field style="width: 33%">
                <input
                  hlmInput
                  formControlName="email"
                  type="email"
                  placeholder="{{ 'register.email' | translate }}"
                  style="width: 100%"
                />
                <hlm-error>{{ "register.emailError" | translate }}</hlm-error>
              </hlm-form-field>

              <hlm-form-field style="width: 33%">
                <input
                  hlmInput
                  type="password"
                  placeholder="{{ 'register.password' | translate }}"
                  style="width: 100%"
                  formControlName="password"
                />
                <hlm-error>{{
                  "register.passwordError" | translate
                }}</hlm-error>
              </hlm-form-field>
              <hlm-form-field style="width: 33%">
                <input
                  hlmInput
                  type="password"
                  placeholder="{{ 'register.confirmPassword' | translate }}"
                  style="width: 100%"
                  formControlName="confirmPassword"
                />
                <hlm-error>{{
                  "register.confirmPasswordError" | translate
                }}</hlm-error>
              </hlm-form-field>
            </div>
            <div class="flex items-center justify-end space-x-2">
              <h4 class="text-sm font-medium leading-none">
                Already have an account?
              </h4>
              <a
                routerLink="/login"
                class="text-sm text-muted-foreground underline hover:text-primary transition-colors"
              >
                Login
              </a>
            </div>
          </div>
          <div hlmCardFooter class="justify-between">
            <button hlmBtn variant="ghost" (click)="resetForm()">
              {{ "register.clear" | translate }}
            </button>
            <hlm-toaster />
            <button
              hlmBtn
              type="submit"
              (click)="onRegister()"
              (ngSubmit)="onRegister()"
              [disabled]="registerForm.invalid"
            >
              {{ "register.submit" | translate }}
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</body>
